In [55]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("kelvinobiri/credit-card-transactions")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\bassam\.cache\kagglehub\datasets\kelvinobiri\credit-card-transactions\versions\1

In [56]:
import pandas  as pd
data=pd.read_csv(path + "/transactions.csv")
print("Data shape:", data.shape)

Data shape: (199999, 10)

In [57]:
data.to_csv("transactions.csv", index=False)

In [58]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199999 entries, 0 to 199998
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   step            199999 non-null  int64
 1   type            199999 non-null  object
 2   amount          199999 non-null  float64
 3   nameOrig        199999 non-null  object
 4   oldbalanceOrg   199999 non-null  float64
 5   newbalanceOrig  199999 non-null  float64
 6   nameDest        199999 non-null  object
 7   oldbalanceDest  199999 non-null  float64
 8   newbalanceDest  199999 non-null  float64
 9   isFraud         199999 non-null  int64
dtypes: float64(5), int64(2), object(3)
memory usage: 15.3+ MB

In [59]:
data.duplicated().sum()

0

In [60]:
data.head(20)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,8,CASH_OUT,158007.12,C424875646,0.00,0.00,C1298177219,474016.32,1618631.97,0
1,236,CASH_OUT,457948.30,C1342616552,0.00,0.00,C1323169990,2720411.37,3178359.67,0
2,37,CASH_IN,153602.99,C900876541,11160428.67,11314031.67,C608741097,3274930.56,3121327.56,0
3,331,CASH_OUT,49555.14,C177696810,10865.00,0.00,C462716348,0.00,49555.14,0
4,250,CASH_OUT,29648.02,C788941490,0.00,0.00,C1971700992,56933.09,86581.10,0
5,182,PAYMENT,15712.66,C365217190,13981.00,0.00,M1108542644,0.00,0.00,0
6,355,PAYMENT,357.15,C1752574405,283349.71,282992.56,M807801422,0.00,0.00,0
7,302,PAYMENT,19477.23,C1681583142,0.00,0.00,M911688965,0.00,0.00,0
8,35,PAYMENT,56554.20,C643126692,503065.44,446511.24,M1453972991,0.00,0.00,0
9,156,CASH_OUT,180660.51,C106721885,10044.00,0.00,C1944402764,32319.16,212979.67,0
10,378,CASH_OUT,48180.67,C282346668,9713.00,0.00,C1427011295,0.00,48180.67,0
11,139,PAYMENT,13409.19,C716300579,322562.56,309153.38,M840764629,0.00,0.00,0
12,180,CASH_IN,172163.65,C62662075,126185.00,298348.65,C898955098,4697103.49,4524939.85,0
13,184,CASH_OUT,168548.97,C544668006,0.00,0.00,C1304603635,1103863.99,1272412.96,0
14,48,TRANSFER,72641.28,C1119777637,0.00,0.00,C1186553459,581740.44,654381.72,0
15,403,CASH_IN,103104.65,C1553566264,1105122.03,1208226.68,C1257936364,684880.98,581776.32,0
16,254,PAYMENT,14951.06,C1868098713,0.00,0.00,M1863406211,0.00,0.00,0
17,279,CASH_OUT,126142.80,C996185306,10229.00,0.00,C1706644268,0.00,126142.80,0
18,16,CASH_IN,474070.38,C1940404557,120.00,474190.38,C604023654,9035.00,0.00,0
19,644,PAYMENT,2610.16,C948422254,9812.00,7201.84,M464116307,0.00,0.00,0

In [61]:
print(data.nameOrig.unique().shape)
print(data.nameDest.unique().shape)

(199990,)
(174523,)

- too many unique values

In [62]:
data.drop(columns=['nameOrig', 'nameDest'], inplace=True)

In [63]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199999 entries, 0 to 199998
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   step            199999 non-null  int64
 1   type            199999 non-null  object
 2   amount          199999 non-null  float64
 3   oldbalanceOrg   199999 non-null  float64
 4   newbalanceOrig  199999 non-null  float64
 5   oldbalanceDest  199999 non-null  float64
 6   newbalanceDest  199999 non-null  float64
 7   isFraud         199999 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ MB

In [64]:
data.isFraud.value_counts()

isFraud
0    199717
1       282
Name: count, dtype: int64

- clear imbalance classes case here. Random Forest will take care of this shit, ion get paid enough for this nonsense

In [11]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
data['type'] = le.fit_transform(data['type'])

In [12]:
data

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
0,8,1,158007.12,0.00,0.00,474016.32,1618631.97,0
1,236,1,457948.30,0.00,0.00,2720411.37,3178359.67,0
2,37,0,153602.99,11160428.67,11314031.67,3274930.56,3121327.56,0
3,331,1,49555.14,10865.00,0.00,0.00,49555.14,0
4,250,1,29648.02,0.00,0.00,56933.09,86581.10,0
...,...,...,...,...,...,...,...,...
199994,201,3,1274.97,69376.00,68101.03,0.00,0.00,0
199995,212,1,204041.98,40423.00,0.00,0.00,204041.98,0
199996,160,0,66378.61,2852895.88,2919274.49,264223.39,197844.78,0
199997,12,0,87473.93,1674588.27,1762062.20,245563.25,158089.32,0
199998,15,1,97305.08,21328.00,0.00,0.00,97305.08,0

In [13]:
data.to_csv("processed.csv", index=False)

In [7]:
import pandas as pd
data= pd.read_csv(r"C:\Users\bassam\OneDrive\Desktop\JupyterProject\data\processed\processed.csv")